<!DOCTYPE html>

<html lang="en">

    <head>
        <style>
        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.3/ -->

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <title>My diary {% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>
    </body>

</html>
